
 

.container-fluid{
    text-align: center;
}
.services{
    position: relative;
    margin-bottom: 100px;
    text-align: center;
    
}
h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}