
 

.container-fluid{
    text-align: center;
}
.services{
    position: relative;
    margin-bottom: 100px;
    text-align: center;
    
}
h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
}
.we-do{
    position: relative;
}
p{
    font-family: sans-serif;
}
h3{
    font-family: sans-serif;
}
.contact{
    position: relative;
    text-align: center;
    margin-top: 100px;

}
.forms{
    margin-bottom: 10%;

}
#design{
    display: none;
}
#develop{
    display: none;
}
#product{
    display: none;
}

.overlay1{
    display: none;
    background-color: black;
    margin-bottom: 12%;
    padding: 5%;
    backface-visibility: hidden;
    border-radius: 100%;
}
.overlay2{
    display: none;
    background-color: black;
    margin-bottom: 12%;
    padding: 5%;
    border-radius: 100%;
    
}
.overlay3{
    display: none;
    background-color: black;
    margin-bottom: 12%;
    padding: 5%;
    border-radius: 100%;
}
.overlay4{
    display: none;
    background-color: black;
    margin-bottom: 12%;
    padding: 5%;
    border-radius: 100%;
}
.overlay5{
    display: none;
    background-color: black;
    margin-bottom: 12%;
    padding: 5%;
    border-radius: 100%;
}
.overlay6{
    display: none;
    background-color: black;
    margin-bottom: 12%;
    padding: 5%;
    border-radius: 100%;
}
.overlay7{
    display: none;
    background-color: black;
    margin-bottom: 12%;
    padding: 5%;
    border-radius: 100%;
}
.overlay8{
    display: none;
    background-color: black;
    margin-bottom: 12%;
    padding: 5%;
    border-radius: 100%;
    float: left;
    
}

